[submodule "external/ImGuiFileDialog"]
	path = third_party/imgui_file_dialog
	url = https://github.com/aiekick/ImGuiFileDialog
[submodule "third_party/metal_cpp"]
	path = third_party/metal_cpp
	url = https://github.com/apple/metal-cpp.git
[submodule "third_party/openpbr_bsdf"]
	path = third_party/openpbr_bsdf
	url = https://github.com/adobe/openpbr-bsdf.git
[submodule "third_party/materialx"]
	path = third_party/materialx
	url = https://github.com/AcademySoftwareFoundation/MaterialX.git
